<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="controllers"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix"><value>/views/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>

    <jee:jndi-lookup jndi-name="jdbc/ServiceOracleBase" id="dataSource" expected-type="javax.sql.DataSource"/>

    <mvc:view-controller path="/homepage" view-name="index"/>
    <mvc:view-controller path="/contact" view-name="contact"/>

    <mvc:resources mapping="/resources/css/**" location="/resources/css/" />
    <mvc:resources mapping="/resources/css/department/**" location="/resources/css/department" />
    <mvc:resources mapping="/resources/css/model/**" location="/resources/css/model" />
    <mvc:resources mapping="/resources/css/product/**" location="/resources/css/product" />
</beans>